# Expo Project ID
EXPO_PROJECT_ID=

# API Base URL
# Use VITE_API_BASE_URL for web/vite environments
VITE_API_BASE_URL=http://localhost:8000/api
# Use EXPO_PUBLIC_API_BASE_URL for Expo Go / Native environments
EXPO_PUBLIC_API_BASE_URL=http://localhost:8000/api
